<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    </head>
    <body>
    <div class="container">
        <h1>Tilit</h1>

        <ul class="list">
            {{range accounts}}
            <li><a href="/transactions?account={{.}}">{{.}}</a></li>
            {{end}}
        </ul>

        <h1>Luokat</h1>

        <ul class="list">
            {{range tags}}
            <li><a href="/tags/{{.Name}}">{{.Name}}</a> ({{len .Patterns}} liitosta)</li>
            {{end}}
        </ul>

    </div>
    </body>
</html>
