{{$month := .PreviousMonth }}
<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    </head>
    <body>
    <div class="container">
        <h1>Tilit</h1>

        <ul class="list">
            {{range $account := .Accounts}}
            <li><a href="/transactions?account={{$account}}">{{$account}}</a></li>
            {{end}}
        </ul>

        <h1>Luokat</h1>

        {{range .Tags}}
        <a class="btn btn-info" href="/tags/{{.ID}}" role="button">{{.Name}}</a></li>
        {{end}}

        <h1>Säännöt luokittelulle</h1>
        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Tili</th>
                    <th>Hakuehto</th>
                    <th>Luokka</th>
                </tr>
            </thead>

            <tbody>
                {{range .Patterns}}
                <tr>
                    {{range .}}<td>{{.}}</td>{{end}}
                </tr>
            {{end}}
            </tbody>
        </table>

    </div>
    </body>
</html>
