<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
        <div class="container">
        <a href="javascript:history.back()">Takaisin</a>

        {{$i := import .ImportID}}

        <table class="table table-hover table-sm">
        <tbody>
        <tr><td>Transaction date</td><td>{{.TransactionDate | date}}</td></tr>
        <tr><td>Value date</td><td>{{.ValueDate | date}}</td></tr>
        <tr><td>Payment date</td><td>{{.PaymentDate |date}}</td></tr>
        <tr><td>Payee/Payer</td><td><a href="/transactions?q={{.PayeePayer}}&account={{$i.Account}}">{{.PayeePayer}}</a></td></tr>
        <tr><td>Account</td><td><a href="/transactions?q={{.Account}}&account={{$i.Account}}">{{.Account}}</a></td></tr>
        <tr><td>BIC</td><td>{{.BIC}}</td></tr>
        <tr><td>Amount</td><td>{{.Amount | printf "%.2f"}}</td></tr>
	<tr><td>Transaction</td><td>{{.Transaction}}</td></tr>
	<tr><td>Reference</td><td><a href="/transactions?q={{.Reference}}&account={{$i.Account}}">{{.Reference}}</a></td></tr>
	<tr><td>PayerReference</td><td><a href="/transactions?q={{.PayerReference}}&account={{$i.Account}}">{{.PayerReference}}</a></td></tr>
	<tr><td>Message</td><td>{{.Message}}</td></tr>
        <tr><td>CardNumber</td><td>{{.CardNumber}}</td></tr>
	<tr><td>Tag</td><td>
        {{if gt .TagID 0}}{{$t := tag .TagID}}{{$t.Name}}{{end}}
        </td></tr>
	<tr><td>Account</td><td>{{$i.Account}}</td></tr>
	<tr><td>Source</td><td>Import #{{$i.ID}} {{$i.Filename}}</td></tr>
       </tbody>

        </table>
</div>
</body>
</html>
