<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {

    let data = [
    {{range $tag, $value := .Tags}}
    ['{{$tag}}', {{$value}}],
    {{end}}
    ];

    let isIncome = (v) => v[1] > 0;
    let isExpense = (v) => v[1] < 0;
    let negate = (v) => [v[0], -v[1]];

    let incomeData = google.visualization.arrayToDataTable(
        Array.prototype.concat(
            [['Luokka', '€']],
            data.filter(isIncome)));

    let expenseData = google.visualization.arrayToDataTable(
        Array.prototype.concat(
            [['Luokka', '€']],
            data.filter(isExpense).map(negate)));

    let chart = new google.visualization.PieChart(document.getElementById('expenses'));
    chart.draw(expenseData, {title: 'Menot'});
    chart = new google.visualization.PieChart(document.getElementById('incomes'));
    chart.draw(incomeData, {title: 'Tulot'});
}

function updateTag(element) {
    if (!element.id.startsWith("rec")) {
        return;
    }
    let id = element.id.substring(3);

    var formData = new FormData();
    formData.append('id', id);
    formData.append('tag', element.value);

    let onSuccess = () => console.log(`Successfully updated tag ${id} tag to ${element.value}`);
    let onError = (err) => console.log(`Failed to update tag ${id} tag: ${err}`);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', `/transactions/${id}/tag`, true);
    xhr.onload = function(e) {
        if (this.status == 200) {
            return onSuccess();
        }
        return onError(new Error(`got HTTP status ${this.status}, want 200`));
    };
    xhr.onerror = onError;
    xhr.send(formData);
}
</script>
    </head>
    <body>
        <div class="container">
        <a href="/">Takaisin</a>
        <h1>Tapahtumat tilillä {{.Account}}</h1>

        <form>
            Näytä tapahtumat kuukaudelle
            <input type="hidden" value="{{.Account}}" name="account">
            <input type="month" value="{{.Month}}" name="month">
            <input type="submit">
            <a href="?account={{.Account}}">Näytä kaikki</a>
        </form>

        <div id="expenses" style="width: 400px; height: 200px; float: left;"></div>
        <div id="incomes" style="width: 400px; height: 200px; float: left;"></div>

        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Kirjauspäivä</th>
                    <th>Maksaja/Saaja</th>
                    <th class="table-right">Määrä</th>
                    <th>Luokka</th>
                </tr>
            </thead>

            <tbody>
            {{ range .Transactions }}{{ $rec := .}}
            <tr class="{{ if gt .Amount 0.0 }}table-success{{end}}">
                    <td><a href="/transactions/{{ $rec.ID }}">{{ .TransactionDate | date}}</a></td>
                    <!-- <td>{{ .ValueDate }}</td>
                    <td>{{ .PaymentDate }}</td> -->
                    <td>{{ .PayeePayer }}</td>
                    <td style="text-align: right">{{ .Amount | printf "%.2f"}}</td>

                    <td><select id="rec{{$rec.ID}}" class="form-control" onchange="updateTag(this)">
                        {{range $t := tags}}
                            <option{{if eq $t.Name $rec.Tag}} selected="true"{{end}}>{{$t.Name}}</option>
                        {{end}}
                    </select>
                    </td>

                </tr>

            {{end}}
            </tbody>

        </table>
    </div>
    </body>
</html>
